.button {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 0.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: rgb(2, 144, 255);
  font-family: "RobotoSlab", sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  border: rgb(2, 144, 255);
}
